<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>뉴스 검색</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
</head>
<body>
        <h1>뉴스 검색</h1>
    <div class="container">
        <div class="search-bar">
            <input type="text" id="query" placeholder="검색어를 입력하세요">
            <button onclick="searchNews()">검색</button>
        </div>
        <div id="results">
            <!-- 검색 결과가 여기에 표시됩니다 -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/news.js') }}"></script>
</body>
</html>
